/* project styles */
.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.project-container title {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

.project-container article {
  flex: 1;
  background-color: #efeff5;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 50px;
  /* max-width: 400px; */
  gap: 20px;
}
.project-container .project {
  padding: 20px;
  background: white;
  border-left: 10px solid orange;
  border-radius: 10px;
  width: 1234px;
  display: grid;
}
.project-container .head {
  padding-left: 20px;
}
.project > div:last-of-type {
  display: grid;
  grid-auto-flow: column;
  place-content: end;
  gap: 10px;
}
.project > div:first-line {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

#carouselButtons {
  margin-left: 100px;
  position: absolute;
  bottom: 0px;
}

.population_container{
  margin-left: 5px;
  margin-right: 500px;
}


/* Page 1 styles */
.row > .col-md-8 {
  flex: 1 1 50%;
}

.row > .col-md-4 {
  flex: 1 1 40%;
  max-width: 43%;
}

.col-md-4 .card .card-body {
  padding: 0;
}



/* second page public dash-board styling */
/* over-write the margin of -15px */
.item > .row {
  margin-right: 50px;
  margin-left: 50px; 
}