{% extends "base.html" %}
{% block title %}Edit Input Options{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% else %}
          <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
  <!-- TODO: Styles and stuff -->
  <div class="input-page">
    <div class="icon-container">
      <div style="height: 50px">
        <div style="float:left">
          <h3>Activity</h3>
        </div>
        <div style="float: right">
          <button type="button"
                  class="btn-add"
                  data-toggle="modal"
                  data-target="#addModal"
                  data-whatever="activity"
                  onclick="add_activity()">
          </button>
          <button type="button"
                  class="btn-del"
                  data-toggle="modal"
                  data-target="#deleteModal"
                  data-whatever="activity"
                  onclick="remove_activity()">
          </button>
          <!-- Reset Button From: https://www.flaticon.com/free-icon/reset_5632370?term=reset&page=1&position=4&page=1&position=4&related_id=5632370&origin=tag -->
          <button type="button"
                  class="btn-reset"
                  data-toggle="modal"
                  data-target="#resetModal"
                  data-whatever="activity"
                  onclick="reset_activity()">
          </button>
        </div>
      </div>
      <br>
      <div>
        <h5>What are you planning to do today?</h5>
      </div>
      <div class="edit-icon-grid" id="activity_grid">
        {% for row in rows %}
          {% if row.category == "activity" %}
            <div id="option-{{ row.id }}" name="{{ row.name }}">
              <img src="{{ row.file_path }}">
              <span>{{ row.name }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="icon-container">
      <div style="height: 50px">
        <div style="float:left">
          <h3>Wellbeing</h3>
        </div>
        <div style="float: right">
          <button type="button"
                  class="btn-add"
                  data-toggle="modal"
                  data-target="#addModal"
                  data-whatever="wellbeing"
                  onclick="add_wellbeing()">
          </button>
          <button type="button"
                  class="btn-del"
                  data-toggle="modal"
                  data-target="#deleteModal"
                  data-whatever="wellbeing"
                  onclick="remove_wellbeing()">
          </button>
          <!-- Reset Button From: https://www.flaticon.com/free-icon/reset_5632370?term=reset&page=1&position=4&page=1&position=4&related_id=5632370&origin=tag -->
          <button type="button"
                  class="btn-reset"
                  data-toggle="modal"
                  data-target="#resetModal"
                  data-whatever="wellbeing"
                  onclick="reset_wellbeing()">
          </button>
        </div>
      </div>
      <br>
      <div>
        <h5>Tell us about your feeling now~</h5>
      </div>
      <div class="edit-icon-grid" id="wellbeing_grid">
        {% for row in rows %}
          {% if row.category == "wellbeing" %}
            <div id="option-{{ row.id }}" name="{{ row.name }}" name="{{ row.name }}">
              <img src="{{ row.file_path }}">
              <span>{{ row.name }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Add Modal Content -->
  <div class="modal fade"
       id="addModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="addModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body" style=" height: 400px; background: #e6e6e6">
          <div class="container">
            <form id="inputs-form"
                  name="inputs-form"
                  method="POST"
                  enctype="multipart/form-data">
              <input id="edit-type" name="edit-type" value="add" type="hidden" readonly/>
              <input id="category_type_add"
                     name="category_type_add"
                     value=""
                     type="hidden"
                     readonly/>
              <div class="row" type="">
                <div class="col"></div>
                <div class="col-auto">
                  <h3 class="text-center">Add New Input Option</h3>
                </div>
                <div class="col"></div>
              </div>
              <br>
              <div class="row">
                <div class="col"></div>
                <div class="col-8">
                  <input class="form-control"
                         type="text"
                         id="iconName"
                         name="iconName"
                         placeholder="Label name"
                         maxlength="15"
                         required/>
                </div>
                <div class="col"></div>
              </div>
              <br>
              <div class="row">
                <div class="col"></div>
                <div class="col-7">
                  <input type="file"
                         class="custom-file-input"
                         id="image-icon"
                         name="image-icon"
                         accept="image/*"
                         required>
                  <label class="custom-file-label" for="image-icon">Upload Image...</label>
                </div>
                <div class="col"></div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <div hidden="hidden" id="add_container_id"></div>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary btn-lg text-nowrap">Add Option</button>
                </div>
                <div class="col"></div>
              </div>
              <div class="row">
                <div class="col"></div>
                <div class="col-auto">
                  <button type="button"
                          class="btn btn-danger btn-lg text-nowrap"
                          data-dismiss="modal"
                          onclick="close_modal()">
                    Cancel
                  </button>
                </div>
                <div class="col">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Minus Modal Content -->
  <div class="modal fade"
       id="deleteModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="deleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body" style=" height: 400px; background: #e6e6e6">
          <div class="container">
            <form id="inputs-form" name="inputs-form" method="POST">
              <input id="edit-type" name="edit-type" value="remove" type="hidden" readonly/>
              <input id="category_type_remove"
                     name="category_type_remove"
                     value=""
                     type="hidden"
                     readonly/>
              <input id="remove_selected_input_options_id"
                     name="remove_selected_input_options_id"
                     value=""
                     type="hidden"
                     readonly/>
              <div class="row" type="">
                <div class="col">
                </div>
                <div class="col-auto">
                  <h3 class="text-center">
                    Are you sure you want to delete the selected emoji icons?
                  </h3>
                </div>
                <div class="col">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <div hidden="hidden" id="del_container_id">
                  </div>
                </div>
                <div class="col-auto">
                  <button type="submit"
                          class="form-group btn btn-secondary btn-lg text-nowrap"
                          onclick="remove_input_option()">
                    Delete
                  </button>
                </div>
                <div class="col">
                </div>
              </div>
              <div class="row">
                <div class="col">
                </div>
                <div class="col-auto">
                  <button type="button"
                          class="form-group btn btn-danger btn-lg text-nowrap"
                          data-dismiss="modal"
                          onclick="close_modal()">
                    Cancel
                  </button>
                </div>
                <div class="col">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Reset Modal Content -->
  <div class="modal fade"
       id="resetModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="resetodalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body" style=" height: 400px; background: #e6e6e6">
          <div class="container">
            <form id="inputs-form" name="inputs-form" method="POST">
              <input id="edit-type" name="edit-type" value="reset" type="hidden" readonly/>
              <input id="category_type_reset"
                     name="category_type_reset"
                     value=""
                     type="hidden"
                     readonly/>
              <div class="row" type="">
                <div class="col">
                </div>
                <div class="col-auto">
                  <h3 class="text-center">
                    Are you sure you want to reset the input options back to default?
                  </h3>
                </div>
                <div class="col">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <div hidden="hidden" id="del_container_id">
                  </div>
                </div>
                <div class="col-auto">
                  <button type="submit" class="form-group btn btn-secondary btn-lg text-nowrap">
                    Reset to Default
                  </button>
                </div>
                <div class="col">
                </div>
              </div>
              <div class="row">
                <div class="col">
                </div>
                <div class="col-auto">
                  <button type="button"
                          class="form-group btn btn-danger btn-lg text-nowrap"
                          data-dismiss="modal"
                          onclick="close_modal()">
                    Cancel
                  </button>
                </div>
                <div class="col">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    $("#activity_grid").on("click", "div", function(event) {
        var div = $(this)
        console.log(div)
        if (div.attr("choosed") === 'Y') {
            div.attr("choosed", '')
            div.css("background", '#e6e6e6')
        } else {
            div.attr("choosed", 'Y')
            div.css("background", '#f15a24')
        }
    })
    $("#wellbeing_grid").on("click", "div", function(event) {
        let div = $(this)
        if (div.attr("choosed") === 'Y') {
            div.attr("choosed", '')
            div.css("background", '#e6e6e6')
        } else {
            div.attr("choosed", 'Y')
            div.css("background", '#f15a24')
        }
    })
    // Backend for sending the current options in the page back to the views.py in the POST to update the database 
    let CATEGORY_TYPE = '';
    
    // Clicking the PLUS button for Activity
    function add_activity() {
        CATEGORY_TYPE = 'activity';
        var input_category_type = document.getElementById("category_type_add");
        input_category_type.setAttribute("value", CATEGORY_TYPE);
        console.log("Add Button:", CATEGORY_TYPE)
    }
    
    // Clicking the PLUS button for Wellbeing
    function add_wellbeing() {
        CATEGORY_TYPE = 'wellbeing';
        var input_category_type = document.getElementById("category_type_add");
        input_category_type.setAttribute("value", CATEGORY_TYPE);
        console.log("Add Button:", CATEGORY_TYPE)
    }
    
    // Clicking the MINUS button for Activity
    function remove_activity() {
        CATEGORY_TYPE = 'activity';
        var input_category_type = document.getElementById("category_type_remove");
        input_category_type.setAttribute("value", CATEGORY_TYPE);
        console.log("Minus Button:", CATEGORY_TYPE)
    }
    
    // Clicking the MINUS button for Wellbeing
    function remove_wellbeing() {
        CATEGORY_TYPE = 'wellbeing';
        var input_category_type = document.getElementById("category_type_remove");
        input_category_type.setAttribute("value", CATEGORY_TYPE);
        console.log("Minus Button:", CATEGORY_TYPE)
    }
    
    // Clicking the RESET button for Activity
    function reset_activity() {
        CATEGORY_TYPE = 'activity';
        var input_category_type = document.getElementById("category_type_reset");
        input_category_type.setAttribute("value", CATEGORY_TYPE);
        console.log("Reset Button:", CATEGORY_TYPE)
    }
    
    // Clicking the RESET button for Wellbeing
    function reset_wellbeing() {
        CATEGORY_TYPE = 'wellbeing';
        var input_category_type = document.getElementById("category_type_reset");
        input_category_type.setAttribute("value", CATEGORY_TYPE);
        console.log("Reset Button:", CATEGORY_TYPE)
    }
    
    // Try to delete with fetch thingo using the input_option_id for jinja
    function remove_input_option() {
        if (CATEGORY_TYPE == "activity") {
            $('#remove_selected_input_options_id').val('');
            document.querySelectorAll('#activity_grid div').forEach(div => {
                if (div.getAttribute("choosed") == 'Y') {
                    $('#remove_selected_input_options_id').val($('#remove_selected_input_options_id').val() + div.getAttribute("id") + ',');
                }
            })
        } else if (CATEGORY_TYPE == "wellbeing") {
            $('#remove_selected_input_options_id').val('');
            document.querySelectorAll('#wellbeing_grid div').forEach(div => {
                if (div.getAttribute("choosed") == 'Y') {
                    $('#remove_selected_input_options_id').val($('#remove_selected_input_options_id').val() + div.getAttribute("id") + ',');
                }
            })
        }
    }
    
    function close_modal() {
        console.log("TODO: close modal");
    }
  </script>
{% endblock %}
