<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
        <title>
            {% block title %}Home{% endblock %}
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg " style="background-color: rgb(140,98,57);color: #ffffff;">
            <div id="navbar">
                <div class="navbar-nav" style="width: 98vw;justify-content:space-between;">
                    {% if user.is_authenticated %}
                      <span class="nav-item nav-link" style="font-size: 30px;">Elderly Wellbeing</span>

                      <div class="d-flex" style="line-height: 45px;margin-right:65px;">
                        <span class="nav-item nav-link font24">Welcome back, {{ user.username }}</span>
                        <span class="nav-item nav-link current-time font24"></span>
                        <span class="nav-item nav-link pointer font24" onclick="location.href='/logout'">Log out</span>
                      </div>
                        {#<a class="nav-item nav-link" id="home" href="/">Home</a>
                        <a class="nav-item nav-link" id="inputs" href="/inputs">Inputs</a>
                        <a class="nav-item nav-link" id="edit-inputs-options" href="/edit-input-options">Edit</a>
                        <a class="nav-item nav-link" id="outputs" href="/outputs">Outputs</a>
                        <a class="nav-item nav-link" id="instructions" href="/instructions">Instructions</a>#}
{#                        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>#}
                    {% else %}
                        <a class="nav-item nav-link" id="login" href="/login">Login</a>
                        <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger alter-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alter-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <script>
          Date.prototype.Format = function (fmt) {
            var o = {
              "M+": this.getMonth() + 1, //月份
              "d+": this.getDate(), //日
              "H+": this.getHours(), //小时
              "m+": this.getMinutes(), //分
              "s+": this.getSeconds(), //秒
              "q+": Math.floor((this.getMonth() + 3) / 3), //季度
              "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)){
              fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o){
              if (new RegExp("(" + k + ")").test(fmt)){
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
              }
            }
            return fmt;
          }
          $('.current-time').html(new Date().Format("yyyy-MM-dd HH:mm:ss"))
        </script>
    </body>
</html>
