{% extends "base.html" %}
{% block title %}Edit Input Options{% endblock %}
{% block content %}
    <!-- TODO: Styles and stuff -->
    <form id="inputs-form" name="inputs-form" method="POST">
        <div class="input-page">
            <div class="icon-container">
                <div style="height: 50px">
                    <div style="float:left">
                        <h3>Activity</h3></div>
                    <div style="float: right">
                        <button type="button" class="btn-add" data-toggle="modal" data-target="#addModal"
                                data-whatever="activity">
                        </button>
                        <button type="button" class="btn-del" data-toggle="modal"
                                data-target="#deleteModal"
                                data-whatever="activity">
                        </button>
                    </div>
                </div>
                <div><h5>What are you planning to do today?</h5></div>
                <div class="edit-icon-grid" id="activity_grid">

                    {% for row in rows %}
                        {% if row.category == "activity" %}
                            <div id="{{ row.name.replace(' ','') }}" name="{{ row.name }}"><img
                                    src="{{ row.file_path }}"><span>{{ row.name }}</span></div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

            <div class="icon-container">
                <div style="height: 50px">
                    <div style="float:left">
                        <h3>Wellbeing</h3></div>
                    <div style="float: right">
                        <button type="button" class="btn-add" data-toggle="modal" data-target="#addModal"
                                data-whatever="wellbeing">
                        </button>
                        <button type="button" class="btn-del" data-toggle="modal"
                                data-target="#deleteModal"
                                data-whatever="wellbeing">
                        </button>
                    </div>
                </div>
                <div><h5>Tell us about your feeling now~</h5></div>
                <div class="edit-icon-grid" id="wellbeing_grid">

                    {% for row in rows %}
                        {% if row.category == "wellbeing" %}
                            <div id="{{ row.name.replace(' ','') }}" name="{{ row.name }}">
                            <img src="{{ row.file_path }}"><span>{{ row.name }}</span></div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <!-- modal content -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body" style=" height: 400px; background: #e6e6e6">

                        <div class="container">
                            <form role="form">

                                <div class="row" type="">
                                    <div class="col"></div>
                                    <div class="col-auto">
                                        <h3 class="text-center">Add New Input Option</h3>
                                    </div>
                                    <div class="col"></div>
                                </div><br>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-8">
                                        <input class="form-control" type="text" id="iconName" name="iconName"
                                               placeholder="label name"/>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="file" id="inputFile" name="inputFile" accept="image/*"
                                               style="height: 0; width: 0; overflow: hidden">
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary btn-lg text-nowrap" id="btnSelectIconImage"
                                                onclick="selectIconImage()">
                                            Upload icon image
                                        </button>
                                    </div>
                                    <div class="col"><div id="imgBase64" hidden="hidden"></div></div>
                                </div>

                                <div class="row">
                                    <div class="col"><div hidden="hidden" id="add_container_id"></div></div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-secondary btn-lg text-nowrap"
                                                onclick="saveIconImage()">
                                            Save
                                        </button>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-auto">
                                        <button type="reset" class="btn btn-danger btn-lg text-nowrap"
                                                onclick="resetAddedToDefault()">
                                            Reset to default
                                        </button>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body" style=" height: 400px; background: #e6e6e6">
                        <div class="container">
                            <form role="form">
                                <div class="row" type="">
                                    <div class="col"></div>
                                    <div class="col-auto">
                                        <h3 class="text-center">Are you sure to delete selected emoji icons</h3>
                                    </div>
                                    <div class="col"></div>
                                </div> <br>
                                <div class="row">
                                    <div class="col"><div hidden="hidden" id="del_container_id"></div></div>
                                    <div class="col-auto">
                                        <button type="reset" class="form-group btn btn-secondary btn-lg text-nowrap"
                                                onclick="deleteIconImage()">
                                            Save
                                        </button>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-auto">
                                        <button type="reset" class="form-group btn btn-danger btn-lg text-nowrap"
                                                onclick="resetDeletedToDefault()">
                                            Reset to default
                                        </button>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id="json" name="json" value="" style="" type="hidden" readonly/>
    </form>
{% endblock %}

{% block script %}
    <script>
        function getDefaultIconsHtml() {
            let defaultActivityHtml = ""
            let defaultWellbeingHtml = ""
            {% for row in rows %}
                {% if row.category == "activity" %}
                    defaultActivityHtml += "<div id='{{ row.name.replace(' ','')}}' name='{{ row.name }}'> <img src='{{ row.file_path }}'><span>{{ row.name }}</span></div>"
                {% endif %}
                {% if row.category == "wellbeing" %}
                    defaultWellbeingHtml += "<div id='{{ row.name.replace(' ','')}}' name='{{ row.name }}'> <img src='{{ row.file_path }}'><span>{{ row.name }}</span></div>"
                {% endif %}
            {% endfor %}

            return [defaultActivityHtml, defaultWellbeingHtml]
        }

        function resetGridContainerDefault() {
            {# TODO: May be need to reactive with backstage #}
            let container_id = $("#add_container_id").text()
            let [defaultActivityHtml, defaultWellbeingHtml] = getDefaultIconsHtml()
            if (container_id === "activity") {
                $("#activity_grid").html(defaultActivityHtml)
            } else if (container_id === "wellbeing") {
                $("#wellbeing_grid").html(defaultWellbeingHtml)
            }

        }


        {# monitor grid-container width and change grid columns count #}
        $(".input-page").css("width", function (index, value) {
            console.log(value)
            let mathValue = value.split("px")
            console.log(mathValue)
            let columnsCount = Math.min(Math.trunc(mathValue[0] / 130), 3)
            console.log(columnsCount)
            $(".modal").css("width", Math.min(mathValue,500).toString()+"px")
            $(".icon-container").css("width", (columnsCount * 130).toString() + "px")
            $(".edit-icon-grid").css("grid-template-columns", "repeat(" + columnsCount + ", 130px)")
            resetGridContainerDefault()
        })

    </script>
    <script>

        $("#activity_grid").on("click", "div", function (event){
            var div = $(this)
            console.log(div)
              if (div.attr("choosed") === 'Y') {
                    div.attr("choosed", '')
                    div.css("background",'#e6e6e6')
                } else {
                    div.attr("choosed", 'Y')
                    div.css("background",'#f15a24')
                }
        })
        $("#wellbeing_grid").on("click", "div", function (event){
            let div = $(this)
              if (div.attr("choosed") === 'Y') {
                    div.attr("choosed", '')
                    div.css("background",'#e6e6e6')
                } else {
                    div.attr("choosed", 'Y')
                    div.css("background",'#f15a24')
                }
        })

        $("#addModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data("whatever")
            $("#add_container_id").text(recipient)
        })

        $("#deleteModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data("whatever")
            $("#del_container_id").text(recipient)
        })

        function selectIconImage() {
            $('#inputFile').click()
        }

        $("#inputFile").on("change", function () {
            let file = $(this)[0].files[0]
            let imgBase64 = ""
            let fileReader = new FileReader()
            let selectedImg = $("#selectImage")
            fileReader.readAsDataURL(file)
            fileReader.onload = function () {
                imgBase64 = this.result  /* here read img file to base64 */
                if (imgBase64 !== "") {
                    console.log(imgBase64)
                    selectedImg.innerHTML = imgBase64
                    $("#imgBase64").text(imgBase64)
                    $("#btnSelectIconImage").attr("disabled", true)
                }
            }
        })

        function saveIconImage(){
            let labelName = $("#iconName").val()
            if(labelName == null || labelName === ""){
                alert("label name cannot be empty!!")
                return
            }

            let imgBase64 = $("#imgBase64").text()
            if(imgBase64 == null || imgBase64 === ""){
                alert("there is no image uploaded!!")
                return;
            }

            let container = $("#add_container_id").text()
            if(container == null || container === ""){
                alert("there is no container id")
            }

            {# TODO: May be need to reactive with backstage #}
            if(container === "activity"){
                $("#activity_grid").append('<div id="'+labelName+'" name="'+labelName+'"><img src="'+imgBase64+'"><span>'+labelName+'</span></div>')

            }else if(container === "wellbeing"){
                $("#wellbeing_grid").append('<div id="'+labelName+'" name="'+labelName+'"><img src="'+imgBase64+'"><span>'+labelName+'</span></div>')

            }
            $("#iconName").val("")
            $("#inputFile").val("")
            $("#imgBase64").text("")
            $("#btnSelectIconImage").attr("disabled", false)
        }

        function deleteIconImage(){
            {# TODO: May be need to reactive with backstage #}
            let container_id = $("#del_container_id").text()
            if(container_id === "activity") {
                document.getElementById("activity_grid").querySelectorAll('div').forEach(div => {
                    if (div.id !== 'more-activities' && div.getAttribute("choosed") === "Y") {
                        let id = div.getAttribute("id")
                        $("#" + id).remove()
                    }
                })
            }else if(container_id === "wellbeing"){
                document.getElementById("wellbeing_grid").querySelectorAll('div').forEach(div => {
                    if (div.id !== 'more-wellbeings' && div.getAttribute("choosed") === "Y") {
                        let id = div.getAttribute("id")
                        $("#" + id).remove()
                    }
                })
            }
        }

        function getDefaultIconsHtml(){
            let defaultActivityHtml = ""
            let defaultWellbeingHtml = ""
            {% for row in rows %}
                {% if row.category == "activity" %}
                    defaultActivityHtml += "<div id='{{ row.name.replace(' ','')}}' name='{{ row.name }}'> <img src='{{ row.file_path }}'><span>{{ row.name }}</span></div>"
                {% endif %}
                {% if row.category == "wellbeing" %}
                    defaultWellbeingHtml += "<div id='{{ row.name.replace(' ','')}}' name='{{ row.name }}'> <img src='{{ row.file_path }}'><span>{{ row.name }}</span></div>"
                {% endif %}
            {% endfor %}

            return [defaultActivityHtml, defaultWellbeingHtml]
        }

        function resetAddedToDefault(){
            {# TODO: May be need to reactive with backstage #}
            let container_id = $("#add_container_id").text()
            let [defaultActivityHtml, defaultWellbeingHtml] = getDefaultIconsHtml()
            if(container_id === "activity") {
                $("#activity_grid").html(defaultActivityHtml)
            }else if(container_id === "wellbeing"){
                $("#wellbeing_grid").html(defaultWellbeingHtml)
            }

            {#divAddEventListener()#}
            $("#addModal").modal('toggle')
        }

        function resetDeletedToDefault(){
            {# TODO: May be need to reactive with backstage #}
            let container_id = $("#del_container_id").text()
            let [defaultActivityHtml, defaultWellbeingHtml] = getDefaultIconsHtml()
            if(container_id === "activity") {
                $("#activity_grid").html(defaultActivityHtml)
            }else if(container_id === "wellbeing"){
                $("#wellbeing_grid").html(defaultWellbeingHtml)
            }

            $("#deleteModal").modal('toggle')
        }

    </script>
{% endblock %}