{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<form id="inputs-form" name="inputs-form" method="POST">
  <div class="input-page">
    <div class="icon-container">
      <h3>Activity</h3>
      <h6>What are you planning to do today?</h6>
      <div class="icon-grid" id="activity-icon-grid">

        {% for row in rows %}
          {% if row.category == "activity" %}
            <div id="{{ row.name }}" name="{{ row.name }}"><img src="{{ row.file_path }}"><span>{{ row.name }}</span></div>
          {% endif%}
        {% endfor %}

      </div>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" onclick="submitActivity()">Submit</button>
    </div>

    <div class="icon-container" id="wellbeing-icon-grid">
      <h3>Wellbeing</h3>
      <h6>Tell us about your feeling now~</h6>
      <div class="icon-grid">

        {% for row in rows %}
          {% if row.category == "wellbeing" %}
            <div id="{{ row.name }}" name="{{ row.name }}"><img src="{{ row.file_path }}"><span>{{ row.name }}</span></div>
          {% endif%}
        {% endfor %}
        
      </div>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" onclick="submitFeeling()">Submit</button>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body" style="    height: 200px; display: flex; align-items: center;">
          <img src="../static/img/Happy.png" style="width: 70px;height: 70px;">
          <span style="font-size: 20px; font-weight: 600;" id="infoId">

          </span>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger"  onclick="submitInput()">Go Back</button>
        </div>
      </div>
    </div>
  </div>
  <input id="json_activity" name="json_activity" value="" style="" type="hidden" readonly/>
  <input id="json_wellbeing" name="json_wellbeing" value="" style="" type="hidden" readonly/>
  <script>
    let CATEGORY_TYPE = '';
    document.querySelectorAll('.icon-grid div').forEach(div=>{
      if(div.id !== 'more'){
        div.addEventListener('click', ()=>{
          if(div.getAttribute("choosed") == 'Y') {
            div.setAttribute("choosed", '')
            div.style.background = '#e6e6e6'
          }else{
            div.setAttribute("choosed", 'Y')
            div.style.background = '#f15a24'
          }
        })
      }
    })

    function submitActivity(){
      CATEGORY_TYPE = "Activity";
      $('#infoId').html('Your activity plan have been submitted!')
    }

    function submitFeeling(){
      CATEGORY_TYPE = "Wellbeing";
      $('#infoId').html('Your feelings have been submitted!')
    }

    function submitInput() {
      if (CATEGORY_TYPE == "Activity") {
        $('#json_activity').val('');
        document.querySelectorAll('#activity-icon-grid div').forEach(div=>{
          if(div.id !== 'more-activities'){
            if(div.getAttribute("choosed") == 'Y') {
              $('#json_activity').val($('#json_activity').val()+div.getAttribute("id")+',');
            }
          }
        })
      } else if (CATEGORY_TYPE == "Wellbeing") {
        $('#json_wellbeing').val('');
        document.querySelectorAll('#wellbeing-icon-grid div').forEach(div=>{
          if(div.id !== 'more-wellbeing'){
            if(div.getAttribute("choosed") == 'Y') {
              $('#json_wellbeing').val($('#json_wellbeing').val()+div.getAttribute("id")+',');
            }
          }
        })
      }
    }

  </script>
</form>
{% endblock %}
