{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

  <div class="output-page">
    {#left#}
    <div class="left">
      <div class="top block">
        <div class="title">Quick Facts</div>
        <div>
          <div class="item">
            There are currently {{ num_elderly }} residents in the nursing home using the website. 
          </div>

          <div class="item">
            Most residents identify {{ emoji_name }}  can best represent the wellbeing of the aged residents.
          </div>

          <div class="item">
            {{ activity_name }} is the activity that most of the aged residents will do.
          </div>

          <div class="item">
            Positive feeling is growing, with {{ percentage_happiness }} % of emoji indicate that aged residents are happy
          </div>
        </div>
      </div>
      <div class="bottom block">
        <div class="title">Message Box</div>
        <div class="item">
          &lt;Voice message from the residents&gt;
        </div>
      </div>
    </div>

    {#right#}
    <div class="right">
      <div class="top block">
        <div class="title">Trends of Activity</div>
        <div class="item" style="top:5%">
          <div id="chart" class="chart"></div>
        </div>
      </div>
      <div class="bottom block">
        <div class="title">Trends of Activity</div>
        <div class="item" style="top:5%">
          <div id="activity-chart" class="activity-chart"></div>
        </div>
      </div>
    </div>
  </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
      var graphs = {{ graphJSON | safe }};
      Plotly.plot('chart', graphs, {});

      var activites = {{ graphJSON_activities | safe }};
      Plotly.plot('activity-chart', activites, {});













    </script>
{% endblock %}
