{% extends "base.html" %}
{% block title %}Random Input Options{% endblock %}
{% block content %}

<h3 align="center">Temporary Inputs Options Test</h3>
<div class="input-page">
    <form method="POST">
        <div class="icon-container">
            <h4>Activity</h4>
            <input type="checkbox" id="bowling" name="bowling" value="bowling">
            <label for="bowling">Bowling 🎳</label><br>
            <input type="checkbox" id="tennis" name="tennis" value="tennis">
            <label for="tennis">Tennis 🎾</label><br>
            <input type="checkbox" id="golf" name="golf" value="golf">
            <label for="golf">Golf ⛳</label><br>
            <input type="checkbox" id="bike" name="bike" value="bike">
            <label for="bike">Bike 🚲</label><br>
            <input type="checkbox" id="tea" name="tea" value="tea">
            <label for="tea">Tea ☕</label><br>
            <input type="checkbox" id="chess" name="chess" value="chess">
            <label for="chess">Chess ♟</label><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <br>
    
    <form method="POST">
        <div class="icon-container">
            <h4>Wellbeing</h4>
            <input type="checkbox" id="neutral" name="neutral" value="neutral">
            <label for="neutral">Neutral 😐</label><br>
            <input type="checkbox" id="very-sad" name="very-sad" value="very-sad">
            <label for="very-sad">Very Sad 😢</label><br>
            <input type="checkbox" id="happy" name="happy" value="happy">
            <label for="happy">Happy 😀</label><br>
            <input type="checkbox" id="sick" name="sick" value="sick">
            <label for="sick">Sick 🤒</label><br>
            <input type="checkbox" id="sad" name="sad" value="sad">
            <label for="sad">Sad ☹</label><br>
            <input type="checkbox" id="angry" name="angry" value="angry">
            <label for="angry">Angry 😠</label><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}