<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/public-dashboard.js') }}"></script>
   <link rel="stylesheet" type="css" href="../static/public-dashboard.css" />
   <!-- CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
   <link rel="stylesheet" href="https://demos.creative-tim.com/paper-dashboard/assets/css/bootstrap.min.css"/>
   <link rel="stylesheet" href="https://demos.creative-tim.com/paper-dashboard/assets/css/paper-dashboard.min.css?v=2.0.1"/>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
   {% block title %}Dashboard{% endblock %}
   {% block content %}
</head>
<body style="background-color:f4f3ef;">
   <div id="myCarousel" class="carousel slide">
   <!-- Menu -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>
   <!-- Items -->
   <div class="carousel-inner">
      <!-- Item 1 -->
      <div class="item active">
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <div class="card card-stats">
                  <div class="card-body ">
                     <div class="row">
                        <div class="col-5 col-md-4">
                           <div class="icon-big text-center icon-warning">
                              <i class="nc-icon nc-globe text-warning"></i>
                           </div>
                        </div>
                        <div class="col-7 col-md-8">
                           <div class="numbers">
                              <p class="card-category">Number of Residents on Website</p>
                              <p class="card-title">{{num_residents}}</p>
                              <!-- Change This  -->
                              <p></p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer ">
                     <hr>
                     <div class="stats">
                        <i class="fa fa-refresh"></i>
                        Update Now
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <div class="card card-stats">
                  <div class="card-body ">
                     <div class="row">
                        <div class="col-5 col-md-4">
                           <div class="icon-big text-center icon-warning">
                              <i class="nc-icon nc-money-coins text-success"></i>
                           </div>
                        </div>
                        <div class="col-7 col-md-8">
                           <div class="numbers">
                              <p class="card-category">Number of Nursing homes Registered</p>
                              <p class="card-title">{{num_nursing_home}}</p>
                              <!-- Change This  -->
                              <p></p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer ">
                     <hr>
                     <div class="stats">
                        <i class="fa fa-calendar-o"></i>
                        Last day
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-8">
               <div class="card">
                  <div class="card-header ">
                     <h5 class="card-title">Email Statistics</h5>
                     <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-body">
                     <!-- <div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                        </div> -->
                     <span id="Mood-Graph" class="Mood-Graph" style="display: flex;"> <span id="Detailed-Mood-Graph" class="Detailed-Mood-Graph"></span></span>
                     <!-- <div id="Detailed-Mood-Graph" class="Detailed-Mood-Graph"></div> -->
                     <!-- <div id="Activities-Graph" class="Activities-Graph"></div> -->
                  </div>
                  <div class="card-footer ">
                     <div class="legend">
                        <i class="fa fa-circle text-primary"></i> Opened
                        <i class="fa fa-circle text-warning"></i> Read
                        <i class="fa fa-circle text-danger"></i> Deleted
                        <i class="fa fa-circle text-gray"></i> Unopened
                     </div>
                     <hr>
                     <div class="stats">
                        <i class="fa fa-calendar"></i> Number of emails sent
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card card-chart">
                  <div class="card-header">
                     <h5 class="card-title">NASDAQ: AAPL</h5>
                     <p class="card-category">Line Chart with Points</p>
                  </div>
                  <div class="card-body">
                     <div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                     </div>
                     <div id="Activities-Graph" class="Activities-Graph"></div>
                  </div>
                  <div class="card-footer">
                     <div class="chart-legend">
                        <i class="fa fa-circle text-info"></i> Tesla Model S
                        <i class="fa fa-circle text-warning"></i> BMW 5 Series
                     </div>
                     <hr>
                     <div class="card-stats">
                        <i class="fa fa-check"></i> Data information certified
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Item 2 -->
      <div class="item">
         <div class="row">
            <div class="col-md-6">
               <div class="card ">
                  <div class="card-header ">
                     <h5 class="card-title">Email Statistics</h5>
                     <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-body ">
                     <div id="Line-Graph-One" class="Line-Graph-One"></div>
                     <!-- Plot 1-->
                  </div>
                  <div class="card-footer ">
                     <div class="legend">
                        <i class="fa fa-circle text-primary"></i> Opened
                        <i class="fa fa-circle text-warning"></i> Read
                        <i class="fa fa-circle text-danger"></i> Deleted
                        <i class="fa fa-circle text-gray"></i> Unopened
                     </div>
                     <hr>
                     <div class="stats">
                        <i class="fa fa-calendar"></i> Number of emails sent
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="card ">
                  <div class="card-header ">
                     <h5 class="card-title">Email Statistics</h5>
                     <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-body ">
                     <div id="Line-Graph-Two" class="Line-Graph-Two">
                        <!-- Plot 2-->
                     </div>
                     <div class="card-footer ">
                        <div class="legend">
                           <i class="fa fa-circle text-primary"></i> Opened
                           <i class="fa fa-circle text-warning"></i> Read
                           <i class="fa fa-circle text-danger"></i> Deleted
                           <i class="fa fa-circle text-gray"></i> Unopened
                        </div>
                        <hr>
                        <div class="stats">
                           <i class="fa fa-calendar"></i> Number of emails sent
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--I think we needed that. One sec I'm going to reformat the code-->
         <div class="row">
            <div class="col-md-6">
               <div class="card ">
                  <div class="card-header ">
                     <h5 class="card-title">Email Statistics</h5>
                     <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-body ">
                     <div id="Line-Graph-Three" class="Line-Graph-Three">
                        <!-- Plot 3-->
                     </div>
                     <div class="card-footer ">
                        <div class="legend">
                           <i class="fa fa-circle text-primary"></i> Opened
                           <i class="fa fa-circle text-warning"></i> Read
                           <i class="fa fa-circle text-danger"></i> Deleted
                           <i class="fa fa-circle text-gray"></i> Unopened
                        </div>
                        <hr>
                        <div class="stats">
                           <i class="fa fa-calendar"></i> Number of emails sent
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="card ">
                  <div class="card-header ">
                     <h5 class="card-title">Email Statistics</h5>
                     <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-body ">
                     <div id="Line-Graph-Four" class="Line-Graph-Four">
                        <!-- Plot 4-->
                     </div>
                     <div class="card-footer ">
                        <div class="legend">
                           <i class="fa fa-circle text-primary"></i> Opened
                           <i class="fa fa-circle text-warning"></i> Read
                           <i class="fa fa-circle text-danger"></i> Deleted
                           <i class="fa fa-circle text-gray"></i> Unopened
                        </div>
                        <hr>
                        <div class="stats">
                           <i class="fa fa-calendar"></i> Number of emails sent
                        </div>
                     </div>
                  </div>
               </div>
            </div>
               <!-- <div id="Activities-Graph" class="Activities-Graph"></div> -->
            
         </div>
      </div>
            <!-- Item 3 -->
      <div class="item">
         <img src="https://picsum.photos/1500/600/?image=3" />
         <div class="container">
            <div class="carousel-caption">
               <h1>Percentage-based sizing</h1>
               <p>With "mobile-first" there is now only one percentage-based grid.</p>
               <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
            </div>
         </div>
      </div>
   </div>
</body>
<!-- Controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width: 90px;">
<span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next" style="width: 90px;">
<span class="icon-next"></span>
</a>  
<div id="carouselButtons">
<button id="playButton" type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-play"></span>
</button>
<button id="pauseButton" type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-pause"></span>
</button>
</div>
</div>
</div>
<!-- Post Info
   <div style='position:fixed;bottom:0;left:0;    
               background:#d3d3d3;width:100%;'>
       About this SO Question: 
       <a href='http://stackoverflow.com/q/20615100/1366033'>Add Play/Pause button to bootstrap carousel</a><br/>
       Find documentation: <a href='http://getbootstrap.com/css/'>Get Bootstrap 3.0</a><br/>
       Fork This Skeleton Here <a href='http://jsfiddle.net/KyleMit/kcpma/'>Bootrsap 3.0 Skeleton</a><br/>
   <div> -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
   var graphs = {{ graph_activities | safe }};
   Plotly.plot('Activities-Graph', graphs, {});
   
   var mood = {{ mood_ratio | safe }};
   Plotly.plot('Mood-Graph', mood, {});
   
   var detailed_mood = {{ detailed_mood_ratio | safe }};
   Plotly.plot('Detailed-Mood-Graph', detailed_mood, {});
   
   var line_one = {{ line_graph_one | safe }};
   Plotly.plot('Line-Graph-One', line_one, {});
   
   var line_two = {{ line_graph_two | safe }};
   Plotly.plot('Line-Graph-Two', line_two, {});
   
   var line_three = {{ line_graph_three | safe }};
   Plotly.plot('Line-Graph-Three', line_three, {});
   
   var line_four = {{ line_graph_four | safe }};
   Plotly.plot('Line-Graph-Four', line_four, {});
   
   
   
</script>
{% endblock %}
