<!-- Deprecated, legacy sign up page -->

{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <form method="POST">
        <h3 align="center">Sign Up</h3>
        <div class="form-group">
            <label for="nursing-home-name">Nursing Home Name</label>
            <input type="text"
                   class="form-control"
                   id="nursing-home-name"
                   name="nursing-home-name"
                   placeholder="Enter name of nursing home"/>
        </div>
        <!-- ADMIN -->
        <div class="form-group">
            <label for="email-admin">Email Address (ADMIN)</label>
            <input type="email"
                   class="form-control"
                   id="email-admin"
                   name="email-admin"
                   placeholder="Enter email (ADMIN)"/>
        </div>
        <div class="form-group">
            <label for="password1-admin">Password (ADMIN)</label>
            <input type="password"
                   class="form-control"
                   id="password1-admin"
                   name="password1-admin"
                   placeholder="Enter password (ADMIN)"/>
        </div>
        <div class="form-group">
            <label for="password2-admin">Password (ADMIN) (Confirm)</label>
            <input type="password"
                   class="form-control"
                   id="password2-admin"
                   name="password2-admin"
                   placeholder="Confirm password (ADMIN)"/>
        </div>
        <!-- <div class="divider py-1 bg-success"></div> -->
        <!-- Guest -->
        <!-- <div class="form-group">
            <label for="email-guest">Email Address (GUEST)</label>
            <input type="email"
                   class="form-control"
                   id="email-guest"
                   name="email-guest"
                   placeholder="Enter email (GUEST)"/>
        </div>
        <div class="form-group">
            <label for="password1-guest">Password (GUEST)</label>
            <input type="password"
                   class="form-control"
                   id="password1-guest"
                   name="password1-guest"
                   placeholder="Enter password (GUEST)"/>
        </div>
        <div class="form-group">
            <label for="password2-guest">Password (GUEST) (Confirm)</label>
            <input type="password"
                   class="form-control"
                   id="password2-guest"
                   name="password2-guest"
                   placeholder="Confirm password (GUEST)"/>
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}