/* Example CSS, replace this */
@font-face {
        font-family: 'cru';
        src:url('/static/fonts/CRU-chotichaItalic.ttf');
    }
.example {
    color: limegreen;
}

.pointer{
    cursor: pointer;
}

.font24 {
    font-size: 24px;
}

.my-modal-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.cru {
    /* font-family: cru;
    font-size: large; */
}
.btn{
    margin: 8px;
    width: 170px;
    font-size: 18px !important;
    border-radius: 10px !important;
    padding:10px;

}
input.form-control{
    border-radius: 19px;
    height: calc(2em + .75rem + 2px) !important;
}

body{
    background: rgb(199,178,153);
}

/* input */
.input-page {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 130px);
    margin: 30px 0;
    background: #e6e6e6;
}

.icon-grid div {
    border: solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-grid span {
    font-weight: 600;
    font-size:14px;
}

.icon-grid img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* output */
.output-page{
    display: flex;
    height: calc(100vh - 111px);
}
.output-page .block{
    background: #e6e6e6;
    margin: 15px;
    border: solid 1px;
    padding: 5px;
    color: rgb(67,33,11);
    position: relative;
}
.block .title{
    font-weight: 600;
    font-size: 24px;
}
.output-page .left{
    width: 40%;
}
.output-page .left .top{
    height: 66.66%;
}
.output-page .left .bottom{
    height: 33.33%;
}
.output-page .right{
    width: 60%;
}
.output-page .right .top{
    height: 50%;
}
.output-page .right .bottom{
    height: 50%;
}

.output-page .left .top .item{
    margin: 19px 0;
    font-size: 16px;
    font-weight: 500;
}
.output-page .right .top .item, .output-page .right .bottom .item{
    margin: 25px 0;
    font-size: 22px;
    font-weight: 500;
    left: 5%;
    top: 40%;
    position: absolute;
}
.output-page .left .bottom .item{
    margin: 25px 0;
    font-size: 22px;
    font-weight: 500;
    left: 5%;
    top: 36%;
    position: absolute;
}
i{
    font-size: 26px;
    font-weight: 600;
}

/*login page*/
.circle-btn{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin-left: 10px;
    background: url(../static/img/btn-login.png);
    background-size: cover;
    border: none;
}
.login-page{
    display: flex;
}
.login-page .logo{
    height: 250px;
    width: 100%;
    position: relative;
}
.login-page .logo .img1{
    width: 150px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.login-page .logo .img2{
    width: 150px;
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.login-page .btn{
    margin: 7px 0;
}
.login-page .left{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page .right{
    background: #ffffff;
    width: 65%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*sign up page*/
.signup-page{
    display: flex;
    justify-content: center;
    height: 100vh
}
.signup-page form{

}
.signup-page img{
    width: 100px;
    position: fixed;
}
.signup-page .img1{
    transform: rotateY(180deg);
    top: 10%;
    left: 10%;
}
.signup-page .img2{
    top: 10%;
    right: 10%;
}

.signup-page .img3{
    transform: rotateY(180deg);
    bottom: 20%;
    left: 10%;
}

.signup-page .img4{
    bottom: 20%;
    right: 10%;
}

/*home page*/
.home-item{
    border: solid;
    height: 39vh;
    margin: 15px;
    background: #e6e6e6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.home-item img{
    width: 20vh;
    height: 20vh;
}
.small-img{
    width: 15vh !important;
    height: 15vh !important;;
}
.home-item div{
    font-size: 28px;
    color: rgb(193,39,45);
    font-weight: 600;
}

